<template name="navBar">
  <nav class="navbar navbar-inverse navbar-fixed-top"> <!--inverse for styling - fixed top so header is fixed on top whatever scrolling-->
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img id="logo" src="favicon.png" alt="logo">
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a target="_blank" href="http://www.google.com/">Google</a></li>
          <li><a href="/creer">Créer un tournoi</a></li>
          <li><a href="/suivre">Suivre un tournoi</a></li>
          <li><a href="/gerer">Gérer un tournoi</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {{> yield }}
  </div>
  <footer class="footer">
    <div class="container">
      <span class="pull-left"><a class="footer-link" href="/disclaimer">Avis de non-responsabilité</a></span>
      <span class="pull-right"><a class="footer-link" href="/about">A propos</a></span>
    </div>
  </footer>
</template>
