<template name="page_creer">
    <h1>Créer</h1>

    {{#autoForm collection="Books" id="insertBookForm" type="insert"}}
    <fieldset>
      <legend>Add a Book</legend>
      {{> afQuickField name='name'}}
      {{> afQuickField name='typeTournoi'}}
      {{#if afFieldValueIs name='typeTournoi' value='CHP'}}
        {{> afQuickField name='truc'}}
      {{/if}}
      {{> afQuickField name='summary' rows=6}}
      {{> afQuickField name='lastCheckedOut'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
</template>
