<template name="page_creer">
    <h1>Création du tournoi</h1>

    {{#autoForm collection="Tournois" id="creationTournoi" type="insert"}}
    <fieldset>
      <legend>Choisis les options</legend>
      {{> afQuickField name='name' autofocus=""}}
      {{> afQuickField name='typeTournoi'}}
      <!-- Championship tournament -->
      {{#if afFieldValueIs name='typeTournoi' value='CHP'}}
        {{> afQuickField name='optionChmpt'}}
      {{/if}}
      <!-- Direct elimination tournament -->
      {{#if afFieldValueIs name='typeTournoi' value='ELD'}}
        {{> afQuickField name='optionElDir'}}
        <!-- Playoff serie field-->
        {{#if afFieldValueIs name='optionElDir' value='Serie'}}
          {{> afQuickField name='optionSerie'}}
        {{/if}}
      {{/if}}
      <!-- Championship and playoff tournament -->
      {{#if afFieldValueIs name='typeTournoi' value='CHE'}}
        {{> afQuickField name='optionChmpt'}}
        {{> afQuickField name='optionElDir'}}
        <!-- Playoff serie field-->
        {{#if afFieldValueIs name='optionElDir' value='Serie'}}
          {{> afQuickField name='optionSerie'}}
        {{/if}}
      {{/if}}
      {{> afQuickField name='joueurs'}}
    </fieldset>
    <!-- <h4>Résumé</h4>
      <p>Mode de tournoi : .</p> -->
    <button type="submit" class="btn btn-primary">Créer</button>
  {{/autoForm}}
</template>
