<!-- template du formulaire d'inscription -->
<template name="page_enregistrer">
    <h1 id="Rejoindre">Rejoins la communauté</h1>
    <form class="register">
        <p><input type="email" name="email" placeholder="Email"></p>
        <p><input type="password" name="password" placeholder="Mot de passe"></p>
        <p><input id="input" type="submit" value="Suivant"></p>
    </form>
</template>

<!-- template du formulaire de connexion -->
<template name="login">
    <h1 id="login">Login</h1>
    <form class="login">
        <p><input type="email" name="email" placeholder="Email"></p>
        <p><input type="password" name="password" placeholder="Mot de passe"></p>
        <p><input type="submit" value="Login" id="log"></p>
    </form>
    <p id="p1">Pas encore enregistré ? <a href="/senregistrer">C'est ici que ça se passe !</a></p>
</template>
