<template name="page_gerer">

  {{#if name}}
    <h1>{{name}}</h1>
    {{#if checkTypeTournoi _id}}
    <h5>CHAMPIONNAT</h5>
      {{#if nbrMatchRestants _id}}
        <h4><a href="/suivre/{{_id}}">Suivre l'évolution de ce tournoi</a></h4>
        <h3>Matchs à compléter ({{nbrMatchRestants _id}})</h3>
        {{#each tour in nbrToursCHP optionChmpt}}
          {{#if nbrMatchRestantsTour _id tour}}
            <h2>Tour n°{{tour}}</h2>

            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th> J1</th>
                  <th>Score J1</th>
                  <th></th>
                  <th>Score J2</th>
                  <th> J2</th>
                  <th>Terminé ?</th>
                </tr>
              </thead>
              <tbody>
                {{#each matchRestants _id tour}}
                  <tr>
                    <td>{{j1.name}}</td>
                    <td><input class="inputScore inputScore{{nuMatch}} {{nuMatch}}" type="number" min="0" value="{{j1.score}}" name="scoreInputJ1"></td>
                    <td> - </td>
                    <td><input class="inputScore inputScore{{nuMatch}} {{nuMatch}}" type="number" min="0" value="{{j2.score}}" name="scoreInputJ2"></td>
                    <td>{{j2.name}}</td>
                    <td><span id={{nuMatch}} class="glyphicon glyphicon-ok validerScoreCHP" data-toggle="tooltip" title="Valider résultat"></span></td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{/if}}
        {{/each}}
      {{else}}
        <h3><a href="/suivre/{{_id}}">Résultats de ce tournoi</a></h3>
        <h3><i>Ce tournoi est terminé</i>, le supprimer <span class="glyphicon glyphicon-remove suppr-tournoi"></span> ?</h3>
      {{/if}}

    {{else}}
      <h5>ELIMININATION DIRECTE</h5>
      {{#if nbrMatchRestants _id}}
        <h4><a href="/suivre/{{_id}}">Suivre l'évolution de ce tournoi</a></h4>
        <h3>Matchs à compléter ({{nbrMatchRestants _id}})</h3>
        <p>Il ne peut y avoir de matchs nuls dans ce format, désignez un vainqueur pour valider</p>
        {{#each tour in nbrToursELD _id}}
          {{#if nbrMatchRestantsTour _id tour}}
            <h3>{{labelTours _id tour}}</h3>
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th> J1</th>
                  <th>Score J1</th>
                  <th></th>
                  <th>Score J2</th>
                  <th> J2</th>
                  <th>Terminé ?</th>
                </tr>
              </thead>
              <tbody>
                {{#each matchRestants _id tour}}
                  <tr>
                    <td id="j1{{nuMatch}}">{{j1.name}}</td>
                    {{#if matchJouable _id}}
                      <td><input class="inputScore inputScore{{nuMatch}} {{nuMatch}}" type="number" min="0" value="{{j1.score}}" name="scoreInputJ1"></td>
                    {{else}}
                      <td><input class="inputScore inputScore{{nuMatch}} {{nuMatch}}" type="number" min="0" value="{{j1.score}}" name="scoreInputJ1" disabled></td>
                    {{/if}}
                    <td> - </td>
                    {{#if matchJouable _id}}
                      <td><input class="inputScore inputScore{{nuMatch}} {{nuMatch}}" type="number" min="0" value="{{j2.score}}" name="scoreInputJ2"></td>
                    {{else}}
                      <td><input class="inputScore inputScore{{nuMatch}} {{nuMatch}}" type="number" min="0" value="{{j2.score}}" name="scoreInputJ2" disabled></td>
                    {{/if}}<td id="j2{{nuMatch}}">{{j2.name}}</td>
                    {{#if matchJouable _id }}
                      {{#if matchValide _id}}
                        <td><span id={{nuMatch}} class="glyphicon glyphicon-ok validerScoreELD" data-toggle="tooltip" title="Valider résultat"></span></td>
                      {{else}}
                        <td><span id={{nuMatch}} class="glyphicon glyphicon-alert validerScoreELD" data-toggle="tooltip" title="Match nul impossible"></span></td>
                      {{/if}}
                    {{else}}
                      <td><span id={{nuMatch}} class="glyphicon glyphicon-alert validerScoreELD" data-toggle="tooltip" title="Joueur(s) non défini(s)"></span></td>
                    {{/if}}
                  </tr>
                {{/each}}
              </tbody>
            </table>

          {{/if}}
          <!-- {{/each}} -->
        {{/each}}
        <!-- <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th> J1</th>
              <th>Score J1</th>
              <th></th>
              <th>Score J2</th>
              <th> J2</th>
              <th>Terminé ?</th>
            </tr>
          </thead>
          <tbody>
            {{#each matchRestants _id }}
              <tr>
                <td>{{j1.name}}</td>
                <td><input class="inputScore inputScore{{nuMatch}} {{nuMatch}}" type="number" min="0" value="{{j1.score}}" name="scoreInputJ1"></td>
                <td> - </td>
                <td><input class="inputScore inputScore{{nuMatch}} {{nuMatch}}" type="number" min="0" value="{{j2.score}}" name="scoreInputJ2"></td>
                <td>{{j2.name}}</td>
                <td><span id={{nuMatch}} class="glyphicon glyphicon-ok validerScoreELD"></span></td>
              </tr>
            {{/each}}
          </tbody>
        </table> -->
      {{else}}
        <h3><a href="/suivre/{{_id}}">Résultats de ce tournoi</a></h3>
        <h3><i>Ce tournoi est terminé</i>, le supprimer <span class="glyphicon glyphicon-remove suppr-tournoi"></span> ?</h3>
      {{/if}}

    {{/if}}

  {{else}}
    {{#if plusieursTournois}}
      <h2>Tournois</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom du tournoi</th>
            <th>Nombre de joueurs</th>
            <th>Date de création</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        <tbody>
          {{#each tournoisCrees}}
            <tr>
              <td class="goTournoi">{{name}}</td>
              <td class="goTournoi">{{joueurs}}</td>
              <td class="goTournoi">{{date}}</td>
              <td><span class="glyphicon glyphicon-remove suppr-tournoi"></span></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <h3><a href="/creer">Tu n'as actuellement aucun tournoi, crées en un !</a></h3>
    {{/if}}
  {{/if}}
</template>
