<template name="page_suivre">
    {{#if name}}
        <h1>{{name}}</h1>
        <p>Type de tournoi: {{typeTournoi}}</p>
        {{#if optionElDir}}
            <p>Option d'élimination directe: {{optionElDir}}</p>
        {{/if}}
        {{#if optionSerie}}
            <p>Option de série: {{optionSerie}}</p>
        {{/if}}
        Joueurs: <pre class="joueurs">{{joueurs}}</pre>
    {{else}}
        {{> fieldset val_title="VOIR" val_var=true btn_txt="GO" btn_link="/suivre" fs_id="suivre"}}
    {{/if}}
</template>
